html, body {
    height: 100%;
}

body {
        max-width: $content-width;
        font-family: $base-font-family;
        margin: 0 auto;
        line-height: $base-line-height;
        font-size: $base-font-size;
        color: $text-color;
        padding: 2em 1em;
        text-rendering: optimizeLegibility;
        height: 100%;
        @include media-query($on-palm) {
            max-width: 100%;
            padding: 1em;
        }

    }

body.full-width {
        max-width: 100%;
        padding: 0;
    }

body.full-width h1 {
        padding: 0 1em;
    }

h1.post-headline {
	margin: 0;
}

h2.post-subtitle {
	color: $grey-color;
	margin-bottom: 1em;
}

h1.section-headline {
	margin: 0;
	color: $grey-color;
}

a {
    color: $brand-color;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
}

figcaption {
   text-align: right;
   color: $grey-color;
   font-size: smaller;
}

img {
    max-width: 100%;
    width: auto;
    max-height: 100vh;
}

ul.thumbnails {
  margin: 1em 0;
}

.thumbnail img {
    padding-right: 1em;
    max-width: 240px;
}

li.thumbnail {
    display: block;
    float: left;
    position: relative;
}

.thumbnail p {
  display: block;
  position: absolute;
  bottom: 0;
  left: 1em;
  color: white;
  text-shadow: 0 1px 1px #000;
}

pre,
code {
    overflow: auto;
    font-size: 0.7*$base-font-size;
    border-radius: 3px;
    border: 1px solid $brand-color;
    > code {
        border: none;
    }
}

pre {
        padding: 1em;
    }

code {
    padding: 0.1em;
    }

blockquote {
    border-left: 8px solid $text-color;
    font-style: italic;
    margin: 0;
    padding: 0 1em;
}

.headline {
    font-size: 3em;
}

.post-headline {
    font-size: 3em;
}

.headline, .post-headline {
    margin-bottom: 0.5em;

        @include media-query($on-palm) {
            font-size: 2em;
        }
    }



/* Add video class for iframes to make them responsive */
.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

#top-left{
    position: fixed;
    top: 1em;
    left: 1em;
}
#bottom-right {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
#site-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */
footer {
    clear: left;
    margin: 2em 0;
    padding-bottom: 1em;
}

body.full-width footer {
    padding: 0 1em 1em 1em;
}

ul {
	list-style-type: "";
	margin: 0;
	padding-left: 0;
}

li {
	margin: 0;
	padding-left: 0;
}

ul.lowercase li {
	text-transform: lowercase;
}


/* Horizontal Divider */
.divider {
    margin: 1em 0;
}

/* Masonry Gallery */
.gallery {
    column-count: 3;
    column-gap: 1em;
    padding: 0 0.5em;

    @include media-query($on-laptop) {
        column-count: 2;
    }

    @include media-query($on-palm) {
        column-count: 1;
    }
}

.gallery .column {
    column-count: 1;
}

.gallery img {
    width: 100%;
    margin-bottom: 1em;
    break-inside: avoid;
    display: block;
}
