---
layout: default
---

<h1 class="post-headline">{{page.title}}</h1>

{% if page.director %}
<h2 class="post-subtitle">
	dir.
	{{page.director}}{% if page.year %}, {{page.year}}{% endif %}
</h2>
{% endif %}

{% if page.image %}
<figure>
    <img src="{{page.image}}" alt="{{page.image-alt-text}}" title="{{page.image-alt-text}}">
    <figcaption>Image credit: {{page.image-credit}}</figcaption>
</figure>
{% endif %}

{{content}}

<footer>
<p class="meta"><small>This article was first published on {{page.date | date: '%-d %B %Y'}}
{% if page.medium-url %}
<a href="{{page.medium-url}}">on Medium</a>{% endif %}.
Copyright © {{ site.time | date: '%Y' }} <a href="{{site.baseurl}}/">{{site.author}}</a>. All rights reserved.</small>
</p>
</footer>
